// Redefine Bootstrap variables here
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

// Fonts
$font-family-base: 'Work Sans', sans-serif;

// Colors
$brand-primary: #3246fa;

// Links
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Alerts
$state-success-text: #ffffff;
$state-success-bg:   #fa4932;

.btn-salmon {
  background: $brand-primary;
  color: white;
  &:hover {
    background: darken($brand-primary, 5%);
  }
}

.wrapper {
  margin-top: 50px;
}

#localViewContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#remoteViewContainer {
  width: 100%;
  video {
    width: 300px;
    height: auto;
    border: 3px solid #ccc;
  }
}
